<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票首页</title>
</head>
<body>
{% comment %}
{% for q in questions %}
    <div>
        {{ q.id }}/{{ q.question_text }}/{{ q.pub_date }}
    </div>
{% endfor %}
{% endcomment %}

<h1>投票首页</h1>
<ol>
    {% for question in questions %}
        <li>
            <a href="{% url 'detail' question.id %}" target="_blank">
                {{ question.question_text }}
            </a>
            {{ question.pub_date }}
        </li>
    {% endfor %}
</ol>
</body>
</html>